stages:
    - build
    - test
    - deploy

###################################################################################

build-linux-3.10:
    only:
      refs:
        - main
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.10'       # for python image selection in .build-linux
        PY_SUF: 'cp310-cp310' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
build-linux-3.9: # for protected branches only
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.9'       # for python image selection in .build-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
build-linux-3.8:
    only:
      refs:
        - main
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.8'       # for python image selection in .build-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
build-linux-3.7:
    only:
      refs:
        - main
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.7'        # for python image selection in .build-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
###################################################################################

build-linux-3.10-ODLS:
    only:
      refs:
        - main
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.10'       # for python image selection in .build-linux
        PY_SUF: 'cp310-cp310' # for python path selection in .build-linux-dockcross
        ODLS: '1'        # build with open-darts linear solvers
        
build-linux-3.9-ODLS:
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.9'       # for python image selection in .build-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .build-linux-dockcross
        ODLS: '1'        # build with open-darts linear solvers
        
build-linux-3.8-ODLS:
    only:
      refs:
        - main
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.8'       # for python image selection in .build-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .build-linux-dockcross
        ODLS: '1'        # build with open-darts linear solvers
        
build-linux-3.7-ODLS:
    only:
      refs:
        - main
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.7'        # for python image selection in .build-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .build-linux-dockcross
        ODLS: '1'         # build with open-darts linear solvers
        
###################################################################################

build-windows-3.10:
    only:
      refs:
        - main
    extends: .build-windows
    variables:
        PY_VER: '3.10'
        PYTHONPATH: 'D:\Python310'        
        ODLS: '0' 
 
build-windows-3.9:  # for protected branches only
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39'        
        ODLS: '0'
        
build-windows-3.8:
    only:
      refs:
        - main
    extends: .build-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '0'
        
build-windows-3.7:
    only:
      refs:
        - main
    extends: .build-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '0'
        
###################################################################################
        
build-windows-3.10-ODLS:
    only:
      refs:
        - main
    extends: .build-windows
    variables:
        PY_VER: '3.10'
        PYTHONPATH: 'D:\Python310'        
        ODLS: '1'         # build with open-darts linear solvers
                
 
build-windows-3.9-ODLS:
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    extends: .build-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39'        
        ODLS: '1'         # build with open-darts linear solvers
        
build-windows-3.8-ODLS:
    only:
      refs:
        - main
    extends: .build-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '1'         # build with open-darts linear solvers
        
build-windows-3.7-ODLS:
    only:
      refs:
        - main
    extends: .build-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '1'         # build with open-darts linear solvers
        
###################################################################################

.build-linux-dockcross:
    extends: .build-linux
    # Dockcross is an image specifically made for building Python wheels, based on CentOS 7 with old glibc - it will run on even old systems
    image: dockcross/manylinux2014-x64:latest
    # Install samba client to upload build results to shared folder TODO remove
    before_script:
        - yum install samba-client -y -q
        - export PATH="/opt/python/$PY_SUF/bin:$PATH"
        
###################################################################################
     
.build-linux:
    stage: build
    image: "python:$PY_VER"
    # Will be executed on runner with linux tag - that assumed to run on linux host
    tags:
        - linux
    before_script:
        - echo 'before build-linux'
        - apt-get update -qq && apt-get install -y -qq smbclient
        - export PY_SUFFIX=`python -c "import importlib.machinery; print(importlib.machinery.EXTENSION_SUFFIXES[0])"`
        - pip install wheel        
    script:
        - echo "build *.pyd on linux started with ODLS=$ODLS"
        - ./build_darts.sh "$ODLS"
    artifacts:
      paths:
        - './dist/*.whl'
      expire_in: 1 months
      
###################################################################################

.build-windows:
    stage: build
    # Will be executed on runner with windows shell tag - that assumed to run on windows host with shell executor
    tags: 
        - windows-shell
    script:
        # Load MS Build Tools environment to the powershell
        - D:\BuildTools\build_vars.ps1
        # Add python folder to PATH
        - $env:PATH +=";" + $env:PYTHONPATH + ";" + $env:PYTHONPATH + "\Scripts"
        - $env:PY_SUFFIX=python.exe -c "import importlib.machinery; print(importlib.machinery.EXTENSION_SUFFIXES[0])"
        # make sure wheel package could be installed
        - pip install wheel
        # copy VS redist libraries 
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.CRT\msvcp140.dll .\darts
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.CRT\vcruntime140.dll .\darts
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.OpenMP\vcomp140.dll .\darts
        - echo "ODLS:" $env:ODLS
        # compile and make the wheel
        - .\build_darts.bat $env:ODLS
    artifacts:
      paths:
        - '.\dist\*.whl'
      expire_in: 1 months

###################################################################################

test-linux-3.10-ODLS:
    only:
      refs:
        - main
    extends: .test-linux
    variables:
        PY_VER: '3.10'       # for python image selection in .test-linux
        PY_SUF: 'cp310-cp310' # for python path selection in .test-linux
        ODLS: '1'           # test with open-darts linear solvers
    dependencies:
        - build-linux-3.10-ODLS

test-linux-3.9-ODLS:
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    extends: .test-linux
    variables:
        PY_VER: '3.9'       # for python image selection in .test-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .test-linux
        ODLS: '1'           # test with open-darts linear solvers
    dependencies:
        - build-linux-3.9-ODLS
        
test-linux-3.8-ODLS:
    only:
      refs:
        - main
    extends: .test-linux
    variables:
        PY_VER: '3.8'       # for python image selection in .test-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .test-linux
        ODLS: '1'        # test with open-darts linear solvers
    dependencies:
        - build-linux-3.8-ODLS
        
test-linux-3.7-ODLS:
    only:
      refs:
        - main
    extends: .test-linux
    variables:
        PY_VER: '3.7'        # for python image selection in .test-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .test-linux
        ODLS: '1'        # test with open-darts linear solvers
    dependencies:
        - build-linux-3.7-ODLS

###################################################################################

test-linux-3.10:
    only:
      refs:
        - main
    extends: .test-linux
    variables:
        PY_VER: '3.10'       # for python image selection in .test-linux
        PY_SUF: 'cp310-cp310' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.10

test-linux-3.9:  # for protected branches only
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-linux
    variables:
        PY_VER: '3.9'       # for python image selection in .test-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.9
        
test-linux-3.8:
    only:
      refs:
        - main
    extends: .test-linux
    variables:
        PY_VER: '3.8'       # for python image selection in .test-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.8
        
test-linux-3.7:
    only:
      refs:
        - main
    extends: .test-linux
    variables:
        PY_VER: '3.7'        # for python image selection in .test-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.7

###################################################################################
        
test-windows-3.10:
    only:
      refs:
        - main
    extends: .test-windows
    variables:
        PY_VER: '3.10'
        PYTHONPATH: 'D:\Python310' 
        ODLS: '0'
    dependencies:
        - build-windows-3.10

test-windows-3.9:  # for protected branches only
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39' 
        ODLS: '0'
    dependencies:
        - build-windows-3.9
        
test-windows-3.8:
    only:
      refs:
        - main
    extends: .test-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '0'
    dependencies:
        - build-windows-3.8
        
test-windows-3.7:
    only:
      refs:
        - main
    extends: .test-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '0'
    dependencies:
        - build-windows-3.7

###################################################################################
        
test-windows-3.10-ODLS:
    only:
      refs:
        - main
    extends: .test-windows
    variables:
        PY_VER: '3.10'
        PYTHONPATH: 'D:\Python310'
        ODLS: '1'
    dependencies:
        - build-windows-3.10-ODLS

test-windows-3.9-ODLS:
    rules:
        - if: $CI_COMMIT_REF_PROTECTED == "true"
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    extends: .test-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39'
        ODLS: '1'
    dependencies:
        - build-windows-3.9-ODLS
        
test-windows-3.8-ODLS:
    only:
      refs:
        - main
    extends: .test-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '1'
    dependencies:
        - build-windows-3.8-ODLS
        
test-windows-3.7-ODLS:
    only:
      refs:
        - main
    extends: .test-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '1'
    dependencies:
        - build-windows-3.7-ODLS
       
###################################################################################

.test-linux:
    stage: test
    image: "python:$PY_VER"
    # Will be executed on runner with linux tag - that assumed to run on linux host
    tags:
        - linux
    before_script:
        - apt-get update -qq && apt-get install -y -qq smbclient
        - apt-get update -qq && apt-get install -y -qq libglu1-mesa-dev # for gmsh
        - apt-get update -qq && apt-get install -y -qq libxcursor1      # for gmsh
        - apt-get update -qq && apt-get install -y -qq libxinerama1     # for gmsh
        - export PYTHONUNBUFFERED=1
        # complex command to create fake wheel and figure out the proper name for current python and platform
        - export WHEEL_NAME=`python -c "from setuptools.dist import Distribution;from distutils.core import  Extension;dist = Distribution({'name':'open_darts', 'version':'1.0.0', 'ext_modules':[Extension('mylib', ['mysrc.pyx', 'native.c'])]});bdist_wheel_cmd = dist.get_command_obj('bdist_wheel');print(bdist_wheel_cmd.wheel_dist_name + '-' + '-'.join(bdist_wheel_cmd.get_tag())+ '.whl');"`
        # upgrade pip package first
        - python -m pip install --upgrade pip
        - ls ./dist/*
        # force reinstall of darts wheel only (need to force because darts wheel version is not incremented)
        # note: need to force here only for Windows actually, but lets be consistent and force for Linux too in case its behaviour will change
        - pip install --force-reinstall --no-deps ./dist/$WHEEL_NAME
        # force-reinstall of dependencies takes too much time, lets only upgrade (eagerly!) them
        - pip install --upgrade --upgrade-strategy eager ./dist/$WHEEL_NAME
    script:
        # run simulation fot test models set
        - cd models
        # passing additional argument to trigger verbose check performance
        - python run_test_suite2.py LOG
        - echo "run_test_suite2 returned" $?
        - ./upload_pkl.sh $SMBNAME $SMBLOGIN $SMBPASS "$CI_COMMIT_SHORT_SHA" $ODLS $PY_VER
        - cd ..
        - echo "test finished"
    artifacts:
      paths:
        - './models/_logs/*.log'
      when: always
      expire_in: 1 year

###################################################################################

.test-windows:
    stage: test
    # Will be executed on runner with windows tag - that assumed to run on windows host
    tags:
        - windows-shell
    before_script:
        - $env:PATH +=";" + $env:PYTHONPATH + ";" + $env:PYTHONPATH + "\Scripts"
        # enable unbuffered output so that everything goes to log file in a correct order
        - $env:PYTHONUNBUFFERED = 1
        - $env:PYTHONLEGACYWINDOWSSTDIO = 1
        # complex command to create fake wheel and figure out the proper name for current python and platform
        - $env:WHEEL_NAME=python.exe -c "from setuptools.dist import Distribution;from distutils.core import  Extension;dist = Distribution({'name':'open_darts', 'version':'1.0.0', 'ext_modules':[Extension('mylib', ['mysrc.pyx', 'native.c'])]});bdist_wheel_cmd = dist.get_command_obj('bdist_wheel');print(bdist_wheel_cmd.wheel_dist_name + '-' + '-'.join(bdist_wheel_cmd.get_tag())+ '.whl');"
        # upgrade pip package first
        - python -m pip install --upgrade pip
        # force reinstall of darts wheel only (need to force because darts wheel version is not incremented)
        - pip install --force-reinstall --no-deps .\dist\$env:WHEEL_NAME
        # force-reinstall of dependencies takes too much time, lets only upgrade (eagerly!) them
        - pip install --upgrade --upgrade-strategy eager .\dist\$env:WHEEL_NAME
    script:
        # run simulation fot test models set
        - cd models
        # passing additional argument to trigger verbose check performance
        - python run_test_suite2.py LOG
        - .\upload_pkl.bat $env:SMBNAME $env:SMBLOGIN $env:SMBPASS $env:CI_COMMIT_SHORT_SHA $env:ODLS $PY_VER
        - cd ..
    artifacts:
      paths:
        - '.\models\_logs\*.log'
      when: always
      expire_in: 1 year

###################################################################################

deploy-pypi:
    # Publish the release
    # Runs only for the main branch and if tag has a pattern: v#.#.#, for example "v1.2.3"
    rules: 
        - if: $CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TAG =~ /^v?[0-9]+\.[0-9]+\.[0-9]+/
    extends: .deploy-pypi
    variables:
        PYPI: 'pypi'

deploy-testpypi:
    # Test publishing the release
    # Runs only manually, if variable UPLOAD_TEST_PYPI set to 1
    only:
        variables:
            - $UPLOAD_TEST_PYPI == "1"
    extends: .deploy-pypi
    variables:
        PYPI: 'testpypi'

# pick all whl ODLS-artifacts (windows/linux, different python versions) and upload to test pipy
# TODO auto-increment package version (in setup.py and .gitlab-ci.yml) and add git tag; now it is done manually
.deploy-pypi:
    stage: deploy
    # just for twine
    image: python:3.9
    # Will be executed on runner with windows tag - that assumed to run on windows host
    tags:
        - linux
    before_script:
        # upgrade pip package first
        - python -m pip install --upgrade pip
        - pip install twine
    script:
        # upload to test-pypi or pypi depending on $PYPI var
        - ./rename_whls.sh # rename linux whls to make uploadable to test-pypi 
        - ls ./dist/*
        - twine upload -u $TESTPYPIUSER -p $TESTPYPIPWD --repository $PYPI dist/*
    dependencies:
        - build-linux-3.7-ODLS
        - build-linux-3.8-ODLS
        - build-linux-3.9-ODLS
        - build-linux-3.10-ODLS
        - build-windows-3.7-ODLS
        - build-windows-3.8-ODLS
        - build-windows-3.9-ODLS
        - build-windows-3.10-ODLS

deploy-zenodo:
    stage: deploy
    rules:
        - if: $CI_COMMIT_TAG =~ /^v?[0-9]+\.[0-9]+\.[0-9]+/
    tags:
        - linux
    image: python:3.9
    script:
        - pip install gitlab2zenodo
        - git archive --format zip --output ${CI_COMMIT_TAG#v}.zip ${CI_COMMIT_TAG}
        # -s is for publishing to zenodo sandbox
        - g2z-send -i $zenodo_record -m .zenodo.json ${CI_COMMIT_TAG#v}.zip
