[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
    branch = master

[submodule "thirdparty/MshIO"]
	path = thirdparty/MshIO
	url = https://github.com/qnzhou/MshIO.git

[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11
    branch = master

[submodule "thirdparty/hypre"]
	path = thirdparty/hypre
	url = https://github.com/hypre-space/hypre.git
    branch = master
	
[submodule "thirdparty/iphreeqc"]
	path = thirdparty/iphreeqc
	url = https://github.com/usgs-coupled/iphreeqc.git
	branch = master
