stages:
    - build
    - test
    - deploy

###################################################################################

build-linux-3.9:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.9'       # for python image selection in .build-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
build-linux-3.8:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.8'       # for python image selection in .build-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
build-linux-3.7:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.7'        # for python image selection in .build-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .build-linux-dockcross
        ODLS: '0'
        
build-linux-3.6:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.6'
        PY_SUF: 'cp36-cp36m'
        ODLS: '0'
        
###################################################################################

build-linux-3.9-ODLS:
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.9'       # for python image selection in .build-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .build-linux-dockcross
        ODLS: '1'        # build with open-darts linear solvers
        
build-linux-3.8-ODLS:
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.8'       # for python image selection in .build-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .build-linux-dockcross
        ODLS: '1'        # build with open-darts linear solvers
        
build-linux-3.7-ODLS:
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.7'        # for python image selection in .build-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .build-linux-dockcross
        ODLS: '1'         # build with open-darts linear solvers
        
build-linux-3.6-ODLS:
    extends: .build-linux-dockcross
    variables:
        PY_VER: '3.6'
        PY_SUF: 'cp36-cp36m'
        ODLS: '1'         # build with open-darts linear solvers
        
###################################################################################
  
build-windows-3.9:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39'        
        ODLS: '0'
        
build-windows-3.8:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '0'
        
build-windows-3.7:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '0'
        
build-windows-3.6:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .build-windows
    variables:
        PY_VER: '3.6'
        PYTHONPATH: 'D:\Python365'
        ODLS: '0'
        
###################################################################################
  
build-windows-3.9-ODLS:
    extends: .build-windows-ODLS
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39'        
        ODLS: '1'         # build with open-darts linear solvers
        
build-windows-3.8-ODLS:
    extends: .build-windows-ODLS
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '1'         # build with open-darts linear solvers
        
build-windows-3.7-ODLS:
    extends: .build-windows-ODLS
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '1'         # build with open-darts linear solvers
        
build-windows-3.6-ODLS:
    extends: .build-windows-ODLS
    variables:
        PY_VER: '3.6'
        PYTHONPATH: 'D:\Python365'
        ODLS: '1'         # build with open-darts linear solvers
        
###################################################################################

.build-linux-dockcross:
    extends: .build-linux
    # Dockcross is an image specifically made for building Python wheels, based on CentOS 7 with old glibc - it will run on even old systems
    image: dockcross/manylinux2014-x64:latest
    # Install samba client to upload build results to shared folder TODO remove
    before_script:
        - yum install samba-client -y -q
        - export PATH="/opt/python/$PY_SUF/bin:$PATH"
        
###################################################################################
     
.build-linux:
    stage: build
    image: "python:$PY_VER"
    # Will be executed on runner with linux tag - that assumed to run on linux host
    tags:
        - linux
    before_script:
        - echo 'before build-linux'
        - apt-get update -qq && apt-get install -y -qq smbclient
        - export PY_SUFFIX=`python -c "import importlib.machinery; print(importlib.machinery.EXTENSION_SUFFIXES[0])"`
        - pip install wheel        
    script:
        - echo "build engine.pyd on linux started with ODLS=$ODLS"
        - ./build_darts.sh "$ODLS"
    artifacts:
      paths:
        - './darts-package/dist/*.whl'
      expire_in: 3 months
      
###################################################################################

.build-windows-ODLS:
    stage: build
    # Will be executed on runner with windows shell tag - that assumed to run on windows host with shell executor
    tags: 
        - windows-shell
    script:
        # Load MS Build Tools environment to the powershell
        - D:\BuildTools\build_vars.ps1
        # Add python folder to PATH
        - $env:PATH +=";" + $env:PYTHONPATH + ";" + $env:PYTHONPATH + "\Scripts"
        - $env:PY_SUFFIX=python.exe -c "import importlib.machinery; print(importlib.machinery.EXTENSION_SUFFIXES[0])"
        # make sure wheel package could be installed
        - pip install wheel
        - echo 'build engines.pyd ODLS for windows started'

        # build opendarts linear solvers step
        - cd opendarts_linear_solvers
        # build superLU
        - cd thirdparty\SuperLU_5.2.1
        - msbuild superlu.sln /p:Configuration=Release /p:Platform=x64 -maxCpuCount:2
        # build opendarts linear solvers
        - cd ..\..
        - mkdir build
        - cd build
        - cmake -DCMAKE_INSTALL_PREFIX=install -DENABLE_TESTING=TRUE ..
        - msbuild opendarts_linear_solvers.sln /p:Configuration=Release /p:Platform=x64 -maxCpuCount:2
        - msbuild INSTALL.vcxproj /p:Configuration=Release /p:Platform=x64 -maxCpuCount:1
        - move install ..\..\darts-engines\lib\darts_linear_solvers
        - cd ..\..
        
        # Compile engines
        - cd darts-engines
        - msbuild darts-engines.vcxproj /p:Configuration=Release_ODLS /p:Platform=x64 -maxCpuCount:2 
        - cd ..
        # Build whl package
        - echo 'build darts.whl for windows started'
        - cd darts-package
        # copy VS redist libraries 
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.CRT\msvcp140.dll .\darts
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.CRT\vcruntime140.dll .\darts
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.OpenMP\vcomp140.dll .\darts
        - python setup.py build bdist_wheel --plat-name=win-amd64
        - cd ..
    artifacts:
      paths:
        - '.\darts-package\dist\*.whl'
      expire_in: 3 months

###################################################################################

.build-windows:
    stage: build
    # Will be executed on runner with windows shell tag - that assumed to run on windows host with shell executor
    tags: 
        - windows-shell
    script:
        # Load MS Build Tools environment to the powershell
        - D:\BuildTools\build_vars.ps1
        # Add python folder to PATH
        - $env:PATH +=";" + $env:PYTHONPATH + ";" + $env:PYTHONPATH + "\Scripts"
        - $env:PY_SUFFIX=python.exe -c "import importlib.machinery; print(importlib.machinery.EXTENSION_SUFFIXES[0])"
        # make sure wheel package could be installed
        - pip install wheel
        - echo 'build engines.pyd for windows started'
        - cd darts-engines
        - D:\update_artifacts.bat
        # Compile engines
        - msbuild darts-engines.vcxproj /p:Configuration=ReleaseMT /p:Platform=x64 -maxCpuCount:2 
        - cd ..
        # Build whl package
        - echo 'build darts.whl for windows started'
        - cd darts-package
        # copy VS redist libraries 
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.CRT\msvcp140.dll .\darts
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.CRT\vcruntime140.dll .\darts
        - copy $env:VCToolsRedistDir\x64\Microsoft.VC143.OpenMP\vcomp140.dll .\darts
        - python setup.py build bdist_wheel --plat-name=win-amd64
        - cd ..
    artifacts:
      paths:
        - '.\darts-package\dist\*.whl'
      expire_in: 3 months


###################################################################################

test-linux-3.9-ODLS:
    extends: .test-linux
    variables:
        PY_VER: '3.9'       # for python image selection in .test-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .test-linux
        ODLS: '1'           # test with open-darts linear solvers
    dependencies:
        - build-linux-3.9-ODLS
        
test-linux-3.8-ODLS:
    extends: .test-linux
    variables:
        PY_VER: '3.8'       # for python image selection in .test-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .test-linux
        ODLS: '1'        # test with open-darts linear solvers
    dependencies:
        - build-linux-3.8-ODLS
        
test-linux-3.7-ODLS:
    extends: .test-linux
    variables:
        PY_VER: '3.7'        # for python image selection in .test-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .test-linux
        ODLS: '1'        # test with open-darts linear solvers
    dependencies:
        - build-linux-3.7-ODLS
        
test-linux-3.6-ODLS:
    extends: .test-linux
    variables:
        PY_VER: '3.6'
        PY_SUF: 'cp36-cp36m'
        ODLS: '1'        # test with open-darts linear solvers
    dependencies:
        - build-linux-3.6-ODLS

###################################################################################

test-linux-3.9:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-linux
    variables:
        PY_VER: '3.9'       # for python image selection in .test-linux
        PY_SUF: 'cp39-cp39' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.9
        
test-linux-3.8:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-linux
    variables:
        PY_VER: '3.8'       # for python image selection in .test-linux
        PY_SUF: 'cp38-cp38' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.8
        
test-linux-3.7:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-linux
    variables:
        PY_VER: '3.7'        # for python image selection in .test-linux
        PY_SUF: 'cp37-cp37m' # for python path selection in .test-linux
        ODLS: '0'
    dependencies:
        - build-linux-3.7
        
test-linux-3.6:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-linux
    variables:
        PY_VER: '3.6'
        PY_SUF: 'cp36-cp36m'
        ODLS: '0'
    dependencies:
        - build-linux-3.6

###################################################################################

test-windows-3.9:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39' 
        ODLS: '0'
    dependencies:
        - build-windows-3.9
        
test-windows-3.8:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '0'
    dependencies:
        - build-windows-3.8
        
test-windows-3.7:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '0'
    dependencies:
        - build-windows-3.7
        
test-windows-3.6:
    only:
      variables:
        - $CI_COMMIT_REF_PROTECTED == "true"
    extends: .test-windows
    variables:
        PY_VER: '3.6'
        PYTHONPATH: 'D:\Python365'
        ODLS: '0'
    dependencies:
        - build-windows-3.6

###################################################################################

test-windows-3.9-ODLS:
    extends: .test-windows
    variables:
        PY_VER: '3.9'
        PYTHONPATH: 'D:\Python39'
        ODLS: '1'
    dependencies:
        - build-windows-3.9-ODLS
        
test-windows-3.8-ODLS:
    extends: .test-windows
    variables:
        PY_VER: '3.8'
        PYTHONPATH: 'D:\Python38'
        ODLS: '1'
    dependencies:
        - build-windows-3.8-ODLS
        
test-windows-3.7-ODLS:
    extends: .test-windows
    variables:
        PY_VER: '3.7'
        PYTHONPATH: 'D:\Python374'
        ODLS: '1'
    dependencies:
        - build-windows-3.7-ODLS
        
test-windows-3.6-ODLS:
    extends: .test-windows
    variables:
        PY_VER: '3.6'
        PYTHONPATH: 'D:\Python365'
        ODLS: '1'
    dependencies:
        - build-windows-3.6-ODLS
       
###################################################################################


.test-linux:
    stage: test
    image: "python:$PY_VER"
    # Will be executed on runner with linux tag - that assumed to run on linux host
    tags:
        - linux
    before_script:
        - apt-get update -qq && apt-get install -y -qq smbclient
        - apt-get update -qq && apt-get install -y -qq libglu1-mesa-dev # for gmsh
        - apt-get update -qq && apt-get install -y -qq libxcursor1      # for gmsh
        - apt-get update -qq && apt-get install -y -qq libxinerama1     # for gmsh
        - export PYTHONUNBUFFERED=1
        # complex command to create fake wheel and figure out the proper name for current python and platform
        - export WHEEL_NAME=`python -c "from setuptools.dist import Distribution;from distutils.core import  Extension;dist = Distribution({'name':'open_darts', 'version':'0.1.1', 'ext_modules':[Extension('mylib', ['mysrc.pyx', 'native.c'])]});bdist_wheel_cmd = dist.get_command_obj('bdist_wheel');print(bdist_wheel_cmd.wheel_dist_name + '-' + '-'.join(bdist_wheel_cmd.get_tag())+ '.whl');"`
        # upgrade pip package first
        - python -m pip install --upgrade pip
        - ls ./darts-package/dist/*
        # force reinstall of darts wheel only (need to force because darts wheel version is not incremented)
        # note: need to force here only for Windows actually, but lets be consistent and force for Linux too in case its behaviour will change
        - pip install --force-reinstall --no-deps ./darts-package/dist/$WHEEL_NAME
        # force-reinstall of dependencies takes too much time, lets only upgrade (eagerly!) them
        - pip install --upgrade --upgrade-strategy eager ./darts-package/dist/$WHEEL_NAME
    script:
        # run simulation fot test models set
        - cd darts-models
        # passing additional argument to trigger verbose check performance
        - python run_test_suite2.py LOG
        - echo "run_test_suite2 returned" $?
        - cd ..
        - echo "test finished"
    artifacts:
      paths:
        - './darts-models/_logs/*.log'
      when: always
      expire_in: 1 year

###################################################################################

.test-windows:
    stage: test
    # Will be executed on runner with windows tag - that assumed to run on windows host
    tags:
        - windows-shell
    before_script:
        - $env:PATH +=";" + $env:PYTHONPATH + ";" + $env:PYTHONPATH + "\Scripts"
        # enable unbuffered output so that everything goes to log file in a correct order
        - $env:PYTHONUNBUFFERED = 1
        - $env:PYTHONLEGACYWINDOWSSTDIO = 1
        # complex command to create fake wheel and figure out the proper name for current python and platform
        - $env:WHEEL_NAME=python.exe -c "from setuptools.dist import Distribution;from distutils.core import  Extension;dist = Distribution({'name':'open_darts', 'version':'0.1.1', 'ext_modules':[Extension('mylib', ['mysrc.pyx', 'native.c'])]});bdist_wheel_cmd = dist.get_command_obj('bdist_wheel');print(bdist_wheel_cmd.wheel_dist_name + '-' + '-'.join(bdist_wheel_cmd.get_tag())+ '.whl');"
        # upgrade pip package first
        - python -m pip install --upgrade pip
        # force reinstall of darts wheel only (need to force because darts wheel version is not incremented)
        - pip install --force-reinstall --no-deps .\darts-package\dist\$env:WHEEL_NAME
        # force-reinstall of dependencies takes too much time, lets only upgrade (eagerly!) them
        - pip install --upgrade --upgrade-strategy eager .\darts-package\dist\$env:WHEEL_NAME
    script:
        # run simulation fot test models set
        - cd darts-models
        # passing additional argument to trigger verbose check performance
        - python run_test_suite2.py LOG
        - cd ..
    artifacts:
      paths:
        - '.\darts-models\_logs\*.log'
      when: always
      expire_in: 1 year

# pick all whl ODLS-artifacts (windows, linux, python versions) and upload to test pipy
# TODO increment package version (darts-package/setup.py)
deploy-all:
    # run this job only if variable UPLOAD_TEST_PYPI is set to true (default is false)
    only:
      variables:
        - $UPLOAD_TEST_PYPI == "true"
    stage: deploy
    # just for twine
    image: python:3.9
    # Will be executed on runner with windows tag - that assumed to run on windows host
    tags:
        - linux
    before_script:
        # upgrade pip package first
        - python -m pip install --upgrade pip
        - pip install twine
    script:
        # upload to pypi
        - cd darts-package
        - ls ./dist/*
        - ./rename_whls.sh # rename linux whls to make uploadable to test-pypi 
        - ls ./dist/*
        - twine upload -u $TESTPYPIUSER -p $TESTPYPIPWD --repository testpypi dist/*
    dependencies:
        - build-linux-3.6-ODLS
        - build-linux-3.7-ODLS
        - build-linux-3.8-ODLS
        - build-linux-3.9-ODLS
        - build-windows-3.6-ODLS
        - build-windows-3.7-ODLS
        - build-windows-3.8-ODLS
        - build-windows-3.9-ODLS


