stages:
    - build images
    - build
    - test
    - deploy

include:
  - local: 'helper_scripts/ci_jobs/build-linux.yml'
  - local: 'helper_scripts/ci_jobs/build-windows.yml'
  - local: 'helper_scripts/ci_jobs/build-linux-gpu.yml'
  - local: 'helper_scripts/ci_jobs/build-linux-valgrind.yml'
  - local: 'helper_scripts/ci_jobs/test-linux.yml'
  - local: 'helper_scripts/ci_jobs/test-windows.yml'
  - local: 'helper_scripts/ci_jobs/test-linux-gpu.yml'
  - local: 'helper_scripts/ci_jobs/valgrind-profiling.yml'
  - local: 'helper_scripts/ci_jobs/upload-wheels.yml'
  - local: 'helper_scripts/ci_jobs/deploy.yml'
