# macOS files
.DS_Store

# binaries
darts/*.so*
darts/*.pyd
darts/*.dll
dist/
sdist/
eggs/
lib/
lib64/
*.egg-info
*.egg
build/
bin/
thirdparty/install

# cache
docs/_build
**/.cache
**/__pycache__/
darts/__pycache__/
models/__pycache__/
**/.cache/

# building info
darts/build_info.txt

# simulation results
results_*/**
solution.pvd

*.exp
*.png
*.xlsx
*.pkl
*.iobj
*.ipdb
*.lib
*.pdb
*.npy
.vscode
/.idea/*
*x64*
*.log
*.nc
*.h5
*.vim
