build/
dist/
install/
thirdparty/build/
thirdparty/install/
dartsflash/*.so
dartsflash/*.pyd
dartsflash/*.dll
dartsflash/__pycache__/
dartsflash/open_darts_flash.egg-info/
open_darts_flash.egg-info/
.DS_Store
.vscode
.idea

docs/build
docs/_build
**/__pycache__/

**/*.pdf
**/*.png
